<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Testing: Serving Web Content</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/jquery.js}" ></script>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:fragment="header">
<div style="width:100%;background-color : black;height:5%">
  <img th:src="@{/img/image2.jpg}" style="display: block;margin-left: auto;margin-right: auto;height: 5%"/>
</div>
</div>

<div th:fragment="footer">
<div class="col-md-12">
	<p class="text-muted text-center">Copyright&copy; Etsuko. All Rights Reserved.</p>
</div>
</div>
</body>
</html>