<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" >
<head>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
 	<link rel="stylesheet" th:href="@{/css/custom.css}"></link>
 	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"></link>
</head>
<body style="background:black;" >
<div class="container main-section">
	<div class="row">
		<div class="col-md-12 text-center user-login-header">
			<h1>Login Form</h1>
		</div>
	</div>
	<form th:method="@{POST}" action="/login" class="container">
	<div class="row">
		<div class="col-md-4 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-2 login-image-main text-center">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 user-image-section">
					<img th:src="@{/image/businessman.png}"/>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 user-login-box">
					<div class="form-group">
				  		<input type="text" class="form-control" placeholder="User Name" name="userName"></input>
					</div>
					<div class="form-group">
				  		<input type="text" class="form-control" placeholder="Password" id="password"></input>
					</div>
				  		<button type="submit" th:type="submit" name="register"
								class="form-control button-color-red btn btn-default">Register</button>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 last-part">
					<p>Not registered?<a href="#"> Create an account</a></p>
				</div>
			</div>
		</div>
	</div>
	</form>
</div>
</body>
</html>